.json
/iLib/.vs/iLib/FileContentIndex
/iLib/obj/Debug
/Services/obj/Debug/net8.0
/iLib/obj/Debug
/Repositories/obj/Debug
/iLib/.vs/iLib/FileContentIndex
iLib/.vs/iLib/v17/.suo
iLib/.vs/iLib/v17/DocumentLayout.json
/iLib/.vs/ProjectEvaluation
/iLib/obj/Debug/net8.0-windows8.0
