@{
    ViewData["Title"] = "Student Dashboard";
}


<div class="d-flex align-content-center">
    <a class="btn btn-outline-success" asp-area="" asp-controller="StudentDashboard" asp-action="AddStudentBook" asp-route-userId="4000" asp-route-bookIsbn="978-1856698961">Borrow</a>
</div>



